@keyframes bc-red {
    from {background-color: aqua;}
    to {background-color: red;}
}

@keyframes bc-yellow {
    from {background-color: aqua;}
    to {background-color: yellow;}
}

@keyframes bc-purple {
    from {background-color: aqua;}
    to {background-color: purple;}
}

@keyframes opacity {
    from {opacity: 1;}
    to {opacity: 0.1;}
}

@keyframes fade {
    from {opacity: 0.35;}
    to {opacity: 1;}
}

@keyframes circle {
    from {border-radius: 5%;}
    to {border-radius: 50%;}
}

.squares {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid rgb(3, 98, 3);
    background-color: aqua;
    width: 100px;
    height: 100px;
    border-radius: 5%;
    transform: translate(-12px, -12px);
    transition: 1.3s;
    transition-timing-function: linear;

    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fade;
    animation-duration: 1s;
}

