$font-size: 1rem;
$font-color: black;
$path-color: rgb(192, 110, 46);

html {
  font-size: $font-size;
  color: $font-color;
}

.row {
  height: 73px;
  display: flex;
  flex-direction: row;
}

.ground {
  height: 73px;
  width: 73px;
  border: 1px solid rgb(3, 98, 3);
  opacity: 1;
  background-color: rgb(16, 181, 16);
}

.path {
  height: 75px;
  width: 75px;
  opacity: 1;
  background-color: $path-color;
}

#container {
  position: relative;
  width: 100%;
  height: 730px;
}

#board {
  position: absolute;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 1125px;
  z-index: 1;
}

#enemies {
  position: absolute;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 1125px;
  z-index: 4;
}

h1 {
  text-align: center;
}

form {
  width: 725px;
  padding: 5px;
  padding-left: 20px;
  background-color: lightgray;
}

text {
  padding: 5px;
}

input {
  padding: 5px;
  width: 600px;
  margin-left: 40px;
}